.maim{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.link {
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: inherit; /* 링크의 색상 제거 */
  /* line-height: 300%; */
}
button{
  width: 80px;
  height: 40px;
  border-radius: 20px;
  font-size: 17px;
  background-color: #ffffff; 
}
button:hover{
  background-color: #d4d4d4;
  box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;

}
.center {
  height : 100px;
  text-align : center;
  line-height: 400%;
}
.margin{
  margin-top: 80px;
  /* margin-bottom: 50px; */
  /* text-align : center; */
}

.first{
  float: left; width: 20%;
  text-align : center;
  line-height: 400%;
}
.second{
  float: left; width: 79%;
  text-align : center;
}
.second_1{
  float: left; width: 70%;
  line-height: 100px;
}
.second_2{
  float: left; width: 29%;
  margin-top: 80px;
  line-height: 50px;
}